@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-space-mono), monospace;
  --font-sans: var(--font-open-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}
